* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    overflow: hidden;


    /* background: url(./../back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw; */
}

.main {
    width: calc(100% - 60px);
    max-width: 670px;
    margin: 25px auto;
    box-shadow: 0 3px 8px 0px rgba(0,0,0,.23);
    /* border-radius: 5px; */
    overflow: hidden;
}

.main header {
    display: flex;
    height: 0px;
    transition: 150ms;
    background: #000;
    padding: 0px 14px;
}
.main.focus header {
    padding: 3px 14px;
    height: 23px;
}
.main header div {
    flex: 1;
    font-size: 11px;
    align-items: center;
}
.main header .title {
    color: #fff;
}
.main header .img {
    color: #fff;
}
.main header .img img {
    width: 100%;
    max-width: 15px;
    margin: 0 auto;
    display: block;
}
.main header .link {
    color: #707070;
    text-align: right;
    cursor: pointer;
}
.main header .link:hover {
    color: #fff;
}

input {
    background: #2A2A2A;
    border: 0;
    margin: 0;
    padding: 11px 13px;
    font-size: 20px;
    color: #fff;
    width: 100%;
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    background: #2A2A2A;
    margin-top: 0px;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    display: none;
}

ul li {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    /* border-bottom: 1px solid #c0c0c0; */
    padding: 2px 0;
    min-height: 50px;
}
ul li:last-child {
    border: 0;
}
ul li.aktiv {
    background:#3D3D3D;
}
ul li.exact {
    background: #3D3D3D;
    position: relative;
}
ul li.exact::after {
    content: "Exact";
    position: absolute;
    right: 12px;
    top: 14px;
    background: #111;
    padding: 2px 3px;
    color: #fff;
    font-size: 12px;
    border-radius: 7px;
}

ul li .img, ul li .icon {
    width: 50px;
    min-width: 50px;
    padding: 12px;
    padding-top: 14px
}
ul li .icon {
    padding: 2px 0 0px 0;
    text-align: center;
    color: #707070;
}
ul li .icon i {
    font-size: 24px;
}
ul li .img img {
    width: 100%;
}

ul li .box {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

ul li .box .img {
    width: 100%;
    max-width: 180px;
    min-width: 180px;
}
ul li .box .content .img {
    display: none;
}
ul li .box .content {
    flex: 1;
    width: 100%;
    max-width: calc( 100% - 150px );
}
ul li .text {
    width: calc( 100% - 50px );
}
ul li .text > * {
    margin: 0;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
ul li .text h1 {
    color: #b3b3b3;
    font-size: 19px;
    font-weight: normal;
}
ul li .text h1 b {
    color: #fff;
    font-weight: normal;
}
ul li .text p {
    color: #9d9d9d;
    opacity: 0.5;
    font-size: 14px;
}
ul li.aktiv .text p {
    opacity: 1;
}
ul .category {
    font-size: 14px;
    color: #bbbbbb;
    padding-left: 15px;
    margin-top: 5px;
    font-weight: bold;
}