* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    overflow: hidden;
}
.main {
    
}
input {
    width: calc(100% - 60px);
    padding: 10px;
    font-size: 25px;
    height: 63px;
    background: rgba(59, 59, 59, 0.733);
    margin: 24px auto;
    color: #fff;
    outline: none;
    display: block;
    box-shadow: 0 2px 20px -10 rgb(0, 0, 0);
    border: 1px solid #7e7e7edc;
    border-radius: 0px;
}

ul {
    list-style: none;
    padding: 0;
    width: calc(100% - 40px);
    margin: 0 auto;
    background: #d8d8d8;
    margin-top: -14px;
    border: 1px solid #7e7e7edc;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    display: none;
    border-radius: 5px;
    background: #eeeeeef0;
}

ul li {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #c0c0c0;
    padding: 2px 0;
    min-height: 50px;
}
ul li:last-child {
    border: 0;
}
ul li.aktiv {
    background:#f0efef;
}
ul li.exact {
    background: #fff;
    position: relative;
}
ul li.exact::after {
    content: "Exact";
    position: absolute;
    right: 12px;
    top: 14px;
    background: #111;
    padding: 2px 3px;
    color: #fff;
    font-size: 12px;
    border-radius: 7px;
}

ul li .img, ul li .icon {
    width: 50px;
    min-width: 50px;
    padding: 12px;
    padding-top: 14px
}
ul li .icon {
    padding: 2px 0 0px 0;
    text-align: center;
}
ul li .icon i {
    font-size: 24px;
}
ul li .img img {
    width: 100%;
}

ul li .text > * {
    margin: 0;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
}
ul li .text h1 {
    color: #000;
    font-size: 19px;
    font-weight: normal;
}
ul li .text p {
    color: #9d9d9d;
    font-size: 14px;
}